<!DOCTYPE html>
<html>
  <head>
    <title>Hermes Node Creator</title>
  </head>
  <body>
    <h1>Create an instance</h1>
    <form method=post>
      {% from "macros.html" import render_field %}
      <dl>
        {{ render_field(reg_form.hostname) }}
        {{ render_field(reg_form.username) }}
        {{ render_field(reg_form.email) }}
        {{ render_field(reg_form.accept_tos) }}
      </dl>
      <p><input type=submit value=Register></p>
    </form>
    {% from "macros.html" import show_messages %}
    {{ show_messages() }}
    <hr/>
    <h1>Existing instances</h1>
    <div>
      {% for ins in instances %}
      <div class='instance-status'>
        <p>{{ ins.public_dns_name }} - {{ ins.public_ip_address }} - {{ ins.state }} - {{ ins.id }}</p>
        <code>ssh -i ~/.ssh/gl-qual-ass-eu.pem ubuntu@{{ ins.public_ip_address }}</code>
      </div>
      {% endfor %}
    </div>

    <div>
        Logged in as {{ current_user.name }} -- {{ current_user.id }}
    </div>
  </body>
</html>

